.homeMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topImgContainer {
    background-image: url("../../assets/home.jpg");
    background-position: right bottom 30%;
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 11px rgb(0 0 0 / 70%);
    height: 390px;
    width: 100%;
}

.homeWelcomeTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 8%;
    height: inherit;
    margin: 0 15%;
}

#welcomeMessage {
    width: 27rem;
    color: rgb(46, 46, 46);
    font-size: 180%;
    line-height: 2.8rem;
    text-shadow: rgb(0 0 0 / 15%) 0px 3px 5px, rgb(255 255 255 / 30%) 0px -5px 35px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    padding: 7px 10px;
}

#welcomeSubtitle {
    width: 30rem;
    font-size: 90%;
    line-height: 23px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-weight: normal;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    padding: 3px 10px;
}

.homeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1% 0 3% 0;
    padding: 0 10%;
    width: 100%;
    max-width: 1600px;
}

.homeVisit {
    background: linear-gradient(135deg, #0099cc1e, #0099cc04);
    text-align: justify;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeVisitContent {
    margin: 4% 0 4% 0;
    padding: 0 10%;
    width: 100%;
    max-width: 1600px;
}

.homeOther {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 4% 0 3% 0;
    padding: 0 10%;
    width: 100%;
    max-width: 1600px;
}

.homeOtherLeft {
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 56%;
    margin: 0 5% 0 0;
}

.homeOtherLeft p {
    margin-bottom: 32px;
    text-align: justify;
}

.homeOtherRight {
    width: 44%;
    margin: 0 0 0 5%;
    padding: 20px;
    background-color: #0099cc0b;
    background: linear-gradient(135deg, #0099cc1e, #0099cc04);
    box-shadow: 2.5px 2.5px 8px rgb(0 0 0 / 30%);
    border: 1px solid rgba(226, 226, 226, 0.671);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border-radius: 5px;
}

.eventCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.eventCard p {
    font-size: 1rem;
}

.eventLink {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: rgb(0, 153, 204);
}

.imgPolaroid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.imgPolaroidCarousel {
    width: 94%;
    margin-left: 3px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.carouselContainer {
    margin: 40px 0 30px 0;
}

@media screen and (max-width: 900px) {
    .imgPolaroid {
        height: 150px;
        object-fit: cover;
        object-position: 20% 10%;
    }
    #welcomeMessage {
        width: 22.7rem;
        line-height: 2.3rem;
        font-size: 150%;
    }
    #welcomeSubtitle {
        width: 18rem;
        font-size: 80%;
        font-weight: 800;
    }
    .topImgContainer {
        background-image: url("../../assets/home.jpg");
        background-position: right bottom 30%;
        background-repeat: no-repeat;
        background-attachment: center;
        background-size: cover;
        background-color: rgb(240, 240, 240);
        box-shadow: 0px 3px 11px rgb(0 0 0 / 70%);
        height: 280px;
    }
    .homeWelcomeTextContainer {
        padding-top: 8%;
    }
}

@media screen and (max-width: 700px) {
    #welcomeMessage {
        width: 19.5rem;
        line-height: 1.6rem;
        font-size: 128%;
        text-align: left;
    }
    #welcomeSubtitle {
        width: 11rem;
        font-size: 70%;
        line-height: 1.2rem;
        text-align: left;
    }
    .homeWelcomeTextContainer {
        margin: 0 5%;
        padding-top: 4%;
    }
    .topImgContainer {
        height: 220px;
    }
    .home {
        padding: 20px 0 40px 0;
    }
    .homeIntro,
    .homeVisit,
    .homeOtherLeft,
    .homeOtherLeft p {
        text-align: left;
    }
    .homeOtherLeft h3 {
        margin: 18px 0 10px 0;
    }
    .homeOtherLeft img {
        margin-bottom: 26px;
    }
    .homeOtherRight {
        padding: 10px;
    }
}

@media screen and (max-width: 939px) {
    .homeOther {
        flex-direction: column;
        align-items: center;
    }
    .homeOtherLeft {
        width: 100%;
        margin-right: 0;
    }
    .homeOtherRight {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 1400px) {
    .topImgContainer {
        height: 520px;
    }
}

@media screen and (max-width: 1159px) {
    .homeWelcomeTextContainer {
        margin: 0 6%;
    }
    .homeIntro,
    .homeVisitContent,
    .homeOther {
        padding: 0 6%;
    }
}
