/*------STYLING OF NAVBAR------*/

.navbarMainContainer {
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 70px;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0;
}
.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.navbarLeft {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    height: 100%;
}

.navbarRight {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    max-width: 45%;
}

.navbarLinks {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.dropdown {
    height: 100%;
}

#navbarMainTitle {
    font-family: "Century Gothic", sans-serif;
    font-size: 28px;
    text-shadow: rgb(0 0 0 / 20%) 2px 5px 9px, rgb(255 255 255 / 30%) 0px -5px 35px;
    line-height: 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
}

#navbarSubtitle {
    font-family: "Century Gothic", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.navlinkHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    margin: 0 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
}

/* .active {
    background-color: #5889919c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    margin: 0 2px;
    width: 110px;
    height: 100%;
    transition: all 0.13s ease-in-out;
}

.dropdownHeader {
    cursor: default;
}

.dropdownContent {
    background-color: #0000003a;
    backdrop-filter: blur(3px) grayscale(20%) brightness(90%);
    -webkit-backdrop-filter: blur(3px) grayscale(20%) brightness(90%);
    border-radius: 5px;
    max-width: 10px;
    height: 0;
    transition: 0.3s ease-in-out;
}

.dropdownContent .navlink {
    color: #ffffff00 !important;
    transition: 0.3s ease-in-out;
    height: 0 !important;
    pointer-events: none !important;
    background: transparent;
}

.dropdownContent.collapse {
    height: 155px !important;
}

.dropdownContent.collapse .navlink {
    color: #fff !important;
    height: 48px !important;
    pointer-events: all !important;
}

.dropdownContent.active .navlink {
    background-color: #588991;
}

.navlink:hover,
.navlinkHome:hover {
    background-color: #5889919c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hamburgerMenu {
    background-color: rgb(255 255 255 / 35%);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.hamburgerMenuBar {
    width: 30px;
    height: 3px;
    background: #588991;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.543);
    transition: 0.3s ease-in-out;
    position: absolute;
}

.hamburgerMenuBar::before,
.hamburgerMenuBar::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #588991;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.543);
    transition: 0.3s ease-in-out;
}

.hamburgerMenuBar::before {
    transform: translateY(-9px);
}

.hamburgerMenuBar::after {
    transform: translateY(9px);
}

.hamburgerMenu.open .hamburgerMenuBar {
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
}

.hamburgerMenu.open .hamburgerMenuBar::before {
    transform: rotate(45deg) translate(21.5px, -21.5px);
    background: #ffffff;
}
.hamburgerMenu.open .hamburgerMenuBar::after {
    transform: rotate(-45deg) translate(21.5px, 21.5px);
    background: #ffffff;
}

.engFlag {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    cursor: pointer;
}

.navbarMobile {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    max-width: 300px;
    padding: 80px 0 20px 0;
    background: linear-gradient(to left, #43696e, #43696e51 400%);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
}

.navbarMobile .navbarLinks {
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 100%;
    align-items: top;
    justify-content: left;
}

.navbarMobile .navbarLinks .navlinkHome,
.navbarMobile .navbarLinks .navlink {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
}
.navbarMobile .navbarLinks .navlink {
    padding: 0 20px 0 38%;
    max-width: 100%;
    margin: 14px 0 !important;
}

.navbarMobile .navbarLinks .navlinkHome {
    padding: 0 20px 0 38%;
    margin: 14px 0 !important;
}

.navbarMobile .navbarLinks .dropdownContent .navlink {
    padding: 0 40px;
    height: 48px;
}

.navbarMobileHidden {
    width: 0;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1160px) {
    .navbarContainer {
        padding: 0 4%;
    }
}

@media screen and (min-width: 901px) {
    .hamburgerMenu {
        display: none;
    }
    .navbarMobile {
        display: none;
    }
    .dropdownContent {
        max-width: unset;
        float: inline-start;
        position: absolute;
    }
    .dropdownContent .navlink {
        width: 100%;
        text-align: left;
        justify-content: left;
        margin: 2.5px 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1159px) {
    .navbarContainer {
        padding: 0 2%;
    }
}

@media (max-width: 1065px) {
    .navbarRight {
        max-width: 100%;
    }
    .navbarContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .navbarContainer {
        justify-content: space-between;
    }
    .navbarRight {
        display: none;
    }
    .hamburgerMenu {
        height: 38px;
        width: 38px;
    }
    .dropdownContent {
        max-width: unset;
    }
    .dropdownContent.collapse {
        height: 65% !important;
    }
}

@media screen and (max-width: 700px) {
    .navbarMainContainer {
        height: 60px;
    }
    .navbarLeft {
        justify-content: center;
    }
    #navbarMainTitle {
        font-size: 1.3rem;
        line-height: 30px;
    }
    #navbarSubtitle {
        font-size: 0.7rem;
        line-height: 14px;
    }
    .navbarMobile {
        padding: 70px 0 20px 0;
    }
}
