html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    color: #434343;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    margin: 70px 0 0 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.375rem;
    color: #434343;
    line-height: 110%;
    letter-spacing: 0.005em;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #434343;
    line-height: 110%;
    letter-spacing: 0.005em;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #434343;
    line-height: 110%;
    letter-spacing: 0.005em;
    margin: 38px 0 18px 0;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #434343;
    line-height: 110%;
    letter-spacing: 0.005em;
    margin: 20px 0 16px 0;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.0625rem;
    color: #434343;
    line-height: 140%;
    letter-spacing: 0.005em;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 700px) {
    #app {
        margin: 60px 0 0 0;
    }
    h1 {
        font-size: 1.9rem;
        line-height: 100%;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 110%;
    }

    h3 {
        font-size: 1.2rem;
        line-height: 110%;
    }

    h4 {
        font-size: 0.9rem;
    }

    p {
        font-size: 1rem;
        line-height: 130%;
    }
}

@media screen and (max-width: 700px) {
    .topLink {
        display: none;
    }
}
