.componentContainer {
    padding: 50px 0;
    width: 100%;
}

.topLink {
    padding: 0 10%;
    width: 100%;
    max-width: 1600px;
    color: #999;
}

.topLink p {
    color: inherit;
    font-size: 0.9rem;
}

.quoteContainer {
    margin: 3% 0 3% 0;
    padding: 0 10%;
    width: 100%;
    max-width: 1600px;
    text-align: justify;
}

.quote {
    border-left: 5px solid #eee;
}

.quote h3 {
    margin-left: 20px;
    color: rgb(110, 23, 96);
}

.quote p {
    margin-left: 20px;
    line-height: 20px;
    color: #999;
    font-size: 0.8rem;
    font-style: italic;
}

.imgPolaroid {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

hr {
    width: 100%;
    margin: 10px 0 40px 0;
}

/*------STYLING OF HISTORY------*/

.historyIntro {
    padding: 0 10%;
    text-align: justify;
}

.historyDetails {
    padding: 0 10%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.historyDetails h2 {
    text-align: left;
}

.historyDetailsPaper {
    display: flex;
}

.historyDetailsChapel {
    display: flex;
}
